#GameCanvas {
    background-color: var(--Background-Color-Dark);
    display:flex;
    align-self: center;
    justify-content: center;
    margin: 0 auto;
    border: 2px solid;
    border-color: black;
}