<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../style/globals.css" />
    <link rel="stylesheet" href="../style/styleguide.css" />
    <link rel="stylesheet" href="../style/style.css" />
  </head>
  <body>
    <div class="fat-footer">
      <div class="logo-and-links">
        <div class="download-mobile">
          <div class="heading"><div class="label">Download in Mobile</div></div>
          <div class="icons-appstore-and">
            <img class="img" src="img/mage-playstore.svg" /> <img class="img" src="img/ri-app-store-fill.svg" />
          </div>
        </div>
        <div class="suscription">
          <div class="newsletter">
            <div class="label-wrapper"><div class="text-wrapper">Subscribe to Our Newsletter</div></div>
            <div class="search-bar"></div>
            <div class="div">Enter your email address</div>
            <div class="button-primary-color">
              <button class="button"><div class="button-2">Suscribe</div></button>
            </div>
          </div>
        </div>
        <div class="social-media">
          <div class="div-wrapper"><div class="text-wrapper">Social Media</div></div>
          <div class="discord-community">
            <div class="container">
              <div class="SVG-wrapper">
                <div class="SVG"><img class="vector" src="img/vector-30.svg" /></div>
              </div>
              <div class="container-2"><div class="text-wrapper-2">Join community</div></div>
              <div class="text-wrapper-3">Discord</div>
              <div class="container-3"></div>
            </div>
          </div>
          <div class="social-media-logos">
            <div class="socialmedia-logos"><img class="img-2" src="img/twitter.svg" /></div>
            <div class="facebook-wrapper"><img class="img-2" src="img/facebook.svg" /></div>
            <div class="socialmedia-logos"><img class="img-2" src="img/google.svg" /></div>
            <div class="socialmedia-logos"><img class="img-2" src="img/vector-24.svg" /></div>
          </div>
        </div>
      </div>
      <div class="footer-info">
        <div class="column-of-info">
          <div class="div-2">
            <div class="heading-2"><div class="label-2">Games</div></div>
          </div>
          <div class="div-2">
            <div class="link">
              <div class="label-3">Popular</div>
              <div class="icons"><img class="vector-2" src="img/vector-13.svg" /></div>
            </div>
            <div class="link">
              <div class="label-3">New</div>
              <div class="icons"><img class="vector-2" src="img/vector-21.svg" /></div>
            </div>
            <div class="link">
              <div class="label-3">Recommended</div>
              <div class="icons"><img class="vector-2" src="img/vector-4.svg" /></div>
            </div>
            <div class="link">
              <div class="label-3">Most Played</div>
              <div class="icons"><img class="vector-2" src="img/vector.svg" /></div>
            </div>
            <div class="link">
              <div class="label-3">Categories</div>
              <div class="icons"><img class="vector-2" src="img/vector-3.svg" /></div>
            </div>
            <div class="link">
              <div class="label-3">Upcoming</div>
              <div class="icons"><img class="vector-2" src="img/vector-26.svg" /></div>
            </div>
            <div class="link">
              <div class="label-3">eSports</div>
              <div class="icons"><img class="vector-2" src="img/vector-22.svg" /></div>
            </div>
          </div>
        </div>
        <div class="column-of-info">
          <div class="div-2">
            <div class="heading-2"><div class="label-2">Support</div></div>
          </div>
          <div class="div-2">
            <div class="link">
              <div class="label-3">Help</div>
              <div class="icons"><img class="vector-2" src="img/vector-8.svg" /></div>
            </div>
            <div class="link">
              <div class="label-3">FAQ</div>
              <div class="icons"><img class="vector-2" src="img/vector-28.svg" /></div>
            </div>
            <div class="link">
              <div class="label-3">Report Bug</div>
              <div class="icons"><img class="vector-2" src="img/vector-31.svg" /></div>
            </div>
            <div class="link">
              <div class="label-3">Server Status</div>
              <div class="icons"><img class="vector-2" src="img/vector-34.svg" /></div>
            </div>
            <div class="link">
              <div class="label-3">Contact</div>
              <div class="icons"><img class="vector-2" src="img/vector-15.svg" /></div>
            </div>
            <div class="link">
              <div class="label-3">Live Chat</div>
              <div class="icons"><img class="vector-2" src="img/vector-23.svg" /></div>
            </div>
            <div class="link">
              <div class="label-3">Updates</div>
              <div class="icons"><img class="vector-2" src="img/vector-36.svg" /></div>
            </div>
          </div>
        </div>
        <div class="column-of-info">
          <div class="div-2">
            <div class="heading-2"><div class="label-2">Donations</div></div>
          </div>
          <div class="div-2">
            <div class="link">
              <div class="label-3">Why Donate?</div>
              <div class="icons"><img class="vector-2" src="img/vector-17.svg" /></div>
            </div>
            <div class="link">
              <div class="label-3">How to Contribute</div>
              <div class="icons"><img class="vector-2" src="img/vector-25.svg" /></div>
            </div>
            <div class="link">
              <div class="label-3">Transparency Report</div>
              <div class="icons"><img class="vector-2" src="img/vector-19.svg" /></div>
            </div>
            <div class="link">
              <div class="label-3">Community Dev</div>
              <div class="icons"><img class="vector-2" src="img/vector-37.svg" /></div>
            </div>
            <div class="link">
              <div class="label-3">Hall of Fame</div>
              <div class="icons"><img class="vector-2" src="img/vector-27.svg" /></div>
            </div>
            <div class="link">
              <div class="label-3">Sponsor a Dev</div>
              <div class="icons"><img class="vector-2" src="img/vector-5.svg" /></div>
            </div>
            <div class="link">
              <div class="label-3">Dev Interviews</div>
              <div class="icons"><img class="vector-2" src="img/vector-9.svg" /></div>
            </div>
          </div>
        </div>
        <div class="column-of-info">
          <div class="div-2">
            <div class="heading-2"><div class="label-2">Community</div></div>
          </div>
          <div class="div-2">
            <div class="link">
              <div class="label-3">Forums</div>
              <div class="icons"><img class="vector-2" src="img/image.svg" /></div>
            </div>
            <div class="link">
              <div class="label-3">Ranking</div>
              <div class="icons"><img class="vector-2" src="img/vector-38.svg" /></div>
            </div>
            <div class="link">
              <div class="label-3">Events</div>
              <div class="icons"><img class="vector-2" src="img/vector-11.svg" /></div>
            </div>
            <div class="link">
              <div class="label-3">Guides</div>
              <div class="icons"><img class="vector-2" src="img/vector-7.svg" /></div>
            </div>
            <div class="link">
              <div class="label-3">Discord</div>
              <div class="icons"><img class="vector-2" src="img/vector-14.svg" /></div>
            </div>
            <div class="link">
              <div class="label-3">Reddit</div>
              <div class="icons"><img class="vector-2" src="img/vector-16.svg" /></div>
            </div>
            <div class="link">
              <div class="label-3">User Reviews</div>
              <div class="icons"><img class="vector-2" src="img/vector-32.svg" /></div>
            </div>
          </div>
        </div>
        <div class="column-of-info">
          <div class="div-2">
            <div class="heading-2"><div class="label-2">For Our Users</div></div>
          </div>
          <div class="div-2">
            <div class="link">
              <div class="label-3">About us</div>
              <div class="icons"><img class="vector-2" src="img/vector-35.svg" /></div>
            </div>
            <div class="link">
              <div class="label-3">Cookies</div>
              <div class="icons"><img class="vector-2" src="img/vector-20.svg" /></div>
            </div>
            <div class="link">
              <div class="label-3">Legal</div>
              <div class="icons"><img class="vector-2" src="img/vector-6.svg" /></div>
            </div>
            <div class="link">
              <div class="label-3">Work with us</div>
              <div class="icons"><img class="vector-2" src="img/vector-12.svg" /></div>
            </div>
            <div class="link">
              <div class="label-3">Privacy Policy</div>
              <div class="icons"><img class="vector-2" src="img/vector-29.svg" /></div>
            </div>
            <div class="link">
              <div class="label-3">Contact Us</div>
              <div class="icons"><img class="vector-2" src="img/vector-10.svg" /></div>
            </div>
            <div class="link">
              <div class="label-3">Patch Notes</div>
              <div class="icons"><img class="vector-2" src="img/vector-18.svg" /></div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="logo">
          <div class="logo-icon-wrapper">
            <div class="logo-icon"><img class="vector-3" src="img/vector-2.svg" /></div>
          </div>
        </div>
        <div class="copyrigth-text">
          <p class="element-dragon-games">
            © 2025 Dragon Games. All rights reserved.<br />This website and all content available on it, including video
            games, graphics, sounds, text, source code, and other materials, are protected by copyright laws. Any
            unauthorized reproduction, distribution, modification, or use without the prior written consent of the
            copyright holder is prohibited.<br />The video games offered on this platform are free for personal use. Any
            commercial use, redistribution, or modification is subject to the terms established in our usage
            policies.<br />For more information, contact us at: lopez@gmail.com.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
