<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../style/globals.css" />
    <link rel="stylesheet" href="../style/styleguide.css" />
    <link rel="stylesheet" href="../style/style.css" />
  </head>
  <body>
    <div class="header">
        <div data-propiedad-1="Variante7" class="logo">
            <div class="logo-icon">
            <div class="vector"></div>
            </div>
            <div><span class="logoname_span">Dragon Games</span></div>
        </div>
        <div class="serch-bar-and-user">
            <div class="serch-bar">
            <div data-propiedad-1="SB" class="search-bar">
                <div class="rectangle-1"></div>
                <div class="sb-content">
                <div data-propiedad-1="Lupa" class="icons">
                    <div class="vector_01"></div>
                </div>
                <div class="search"><span class="search_span">Search</span></div>
                </div>
            </div>
            <div class="filter">
                <div data-propiedad-1="Filter" class="icons_01">
                <div class="vector_02"></div>
                </div>
            </div>
            </div>
            <div class="donations">
            <div data-propiedad-1="Donations" class="icons_02">
                <div class="vector_03"></div>
            </div>
            </div>
            <div class="sesin">
            <img data-property-1="UF Comment" class="user-foto" src="https://placehold.co/62x62" />
            </div>
        </div>
    </div>
    <!--<div class="header">
      <div class="logo">
        <div class="logo-icon"><img class="vector" src="img/vector.svg" /></div>
        <div class="logo-name">Dragon Games</div>
      </div>
      <div class="serch-bar-and-user">
        <div class="serch-bar">
          <div class="search-bar">
            <div class="rectangle"></div>
            <div class="SB-content">
              <img class="icons" src="img/image.svg" />
              <div class="text-wrapper">Search</div>
            </div>
          </div>
          <div class="filter"><img class="img" src="img/icons.svg" /></div>
        </div>
        <div class="donations"><img class="icons-2" src="img/icons-2.svg" /></div>
        <div class="sesin"><div class="user-foto"></div></div>
      </div>
    </div> -->
  </body>
</html>
