<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../style/globals.css" />
    <link rel="stylesheet" href="../style/styleguide.css" />
    <link rel="stylesheet" href="../style/style.css" />
  </head>
  <body>
    <div class="header">
      <div class="logo">
        <div class="logo-icon"><img class="vector" src="img/vector.svg" /></div>
        <div class="logo-name">Dragon Games</div>
      </div>
      <div class="serch-bar-and-user">
        <div class="serch-bar">
          <div class="search-bar">
            <div class="rectangle"></div>
            <div class="SB-content">
              <img class="icons" src="img/image.svg" />
              <div class="text-wrapper">Search</div>
            </div>
          </div>
          <div class="filter"><img class="img" src="img/icons.svg" /></div>
        </div>
        <div class="donations"><img class="icons-2" src="img/icons-2.svg" /></div>
        <div class="sesin"><div class="user-foto"></div></div>
      </div>
    </div>
  </body>
</html>
