/* Responsive Design */
@media (max-width: 600px) {
    body {
        display: grid;
        grid-template-columns: 1fr; /*Una sola columna*/
        grid-template-rows: auto 1fr auto; /*El footer va a ocupar el espacio que necesite*/
        grid-template-areas:
            "topbar"
            "main"
            "footer"; /*El sidebar va a ocupar las 3 filas*/
    }


    #topbar .logo-and-title > h1 {
        display: none; /*Esconder el título en pantallas pequeñas*/
    }

    #sidebar {
        display: none; /*Esconder la sidebar en pantallas pequeñas*/
    }

    .show-sidebar {
        display: block; /*Mostrar la sidebar cuando se haga clic en el botón del menú*/
        position: fixed;
        width: 100%;
        background-color: var(--colecci-n-variable-background-color-dark);
    }

    #topbar {
        max-height: 70px;
        width: 100%;
        display: flex;
        justify-content:space-between;
        align-items: normal;
    }
    
    /*Searchbar*/
        .serch-bar {
            display: flex;
            align-items: center;
            gap: 5px;
            background-color: #32276D;
            border-radius: 0.5em;
            padding: 5px;
        }
        .serch-bar input {
            display: none;
        }
        .serch-bar button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            padding: 0;
        }
}