/* global */
:root{
    --primary-color: #84E9DD;
    --primary-color-light-1: #B3F2EB;
    --primary-color-light-2: #ccf8f2;
    --primary-color-dark-1: #4EBBAF;
    --primary-color-dark-2: #2d8a81;

    --secondary-color: #9C6ADE;
    --secondary-color-light-1: #BFA0E8;
    --secondary-color-light-2: #D6C3F5;
    --secondary-color-dark-1: #6E41A5;
    --secondary-color-dark-2: #4A2C73;

    --color-accent: #FF6F61;
    --color-accent-light-1: #FFA094;
    --color-accent-light-2: #FFB3AA;
    --color-accent-dark-1: #D94A3D;
    --color-accent-dark-2: #A83226;

    --background-color: #;
    --background-color-dark: #;
    --background-color-blueish: #;
    --color-text:: #f5f5f5;

     

    --font-family: 'Poppins', sans-serif;
}

