/* CSS General */

/* Variables de color y texto */
:root {
    --N-Light-Gray: #F5F5F5;
    --N-Gray: #9E9E9E;
    --Background-Color-Blueish: #1D1740;
    --Background-Color-Dark: #120E26;
    --Primary-Color: #84E9DD;
    --Primary-Color-Light: #CCF8F2;
    --Primary-Color-Dark: #2D8A81;
    --Secondary-Color-Purple: #9C6ADE;
    --Secondary-Color-Purple-Dark: #6E41A5;
    --Third-Color: #FF6F61;
    
    --Default-Font: 'Poppins', sans-serif;
    --Font-Size-Paragraph: 14px;
    --Font-Size-H4: 16px;
    --Font-Size-H3: 24px;
    --Font-Size-H2: 28px;
    --Font-Size-H1: 36px;
}

/* Elimina estilos por defecto del navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1D1740;
    font-family: var(--Default-Font);
    color: var(--N-Light-Gray);
    display: grid;
    grid-template-areas: "header header"
                         "sidebar main"
                         "footer footer";
}

header, footer {
    background-color: #120E26;
}

header {
    grid-area: header;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.left-header-section {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
    .logo {
        display: flex;
    }
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .footer-top, .footer-link-sections{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
    } 

    .footer-bottom {
        display: flex;
        flex-direction: row;
        .legal {
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: left;

        }
     }

    .footer-link-sections {
        display: flex;
        gap: 40px;
        margin-bottom: 50px
    }

}

.footer-left, .footer-center, .footer-right {
    flex-direction: row;
    .footer-link-sections-section {
        width: fit-content;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

/* CSS Específico */

/* home */

#sidebar {
    width: 70px;
    grid-area: sidebar;
    background-color: #120E26;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
    top: 60px;
}

#Games {
    padding-right: 10px;
    margin-top: 20px;
}

#RecentGames {
    display: flex;
    max-width: 800px;

    button {
        background-color: var(--Background-Color-Dark);
        width: 262px;
        height: 160px;
        flex-shrink: 0;
        min-width: 262px;
        min-height: 160px;
    }
}

.recent-game-cards {
    display: flex;
    gap: 10px;
    margin-left: 20px;
}

.recent-game-card 
    img {
    width: 185px;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 10px;
}

.carousel-container {
    display: flex;
    overflow: hidden;
}

.game-carousel {
    max-width: 1700px;
}

.carousel-button-left, .carousel-button-right {
    border: none;
    border-radius: 20px;
    background-color: var(--Background-Color-Blueish);
    width: 125px;
    height: 250px;
    flex-shrink: 0; /* Evita que se achiquen */
    min-width: 125px; /* Asegura el ancho mínimo */
    min-height: 250px; /* Asegura la altura mínima */
}

.carousel-button-left:hover, .carousel-button-right:hover {
    background-color: var(--Background-Color-Dark);
}

.carousel-track {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    transition: transform 0.25s cubic-bezier(1, 0.2, 0.2, 0.4);
}

.carousel-track.skew-right {
    transform: skewX(10deg);
}
.carousel-track.skew-left {
    transform: skewX(-10deg);
}


.game-card {
    position: relative;
    margin-right: 20px;
}


.game-card img {
    width: 250px;
    height: 210px;
    object-fit: cover;
    border-radius: 8px;
}

/* game */

/* logIn */

/* signUp */



