:root {
  --h1-font-family: "Poppins", Helvetica;
  --h1-font-weight: 800;
  --h1-font-size: 36px;
  --h1-letter-spacing: 0px;
  --h1-line-height: normal;
  --h1-font-style: normal;
  --h3-font-family: "Poppins", Helvetica;
  --h3-font-weight: 600;
  --h3-font-size: 24px;
  --h3-letter-spacing: 0px;
  --h3-line-height: normal;
  --h3-font-style: normal;
  --h2-font-family: "Poppins", Helvetica;
  --h2-font-weight: 700;
  --h2-font-size: 28px;
  --h2-letter-spacing: 0px;
  --h2-line-height: normal;
  --h2-font-style: normal;
  --h4-font-family: "Poppins", Helvetica;
  --h4-font-weight: 500;
  --h4-font-size: 16px;
  --h4-letter-spacing: 0px;
  --h4-line-height: normal;
  --h4-font-style: normal;
  --paragraph-font-family: "Poppins", Helvetica;
  --paragraph-font-weight: 400;
  --paragraph-font-size: 14px;
  --paragraph-letter-spacing: 0px;
  --paragraph-line-height: normal;
  --paragraph-font-style: normal;
  --colecci-n-variable-primary-color: rgba(132, 233, 221, 1);
  --colecci-n-variable-PC-light-1: rgba(179, 242, 235, 1);
  --colecci-n-variable-PC-light-2: rgba(204, 248, 242, 1);
  --colecci-n-variable-PC-dark-1: rgba(78, 187, 175, 1);
  --colecci-n-variable-PC-dark-2: rgba(45, 138, 129, 1);
  --colecci-n-variable-secondary-color: rgba(156, 106, 222, 1);
  --colecci-n-variable-SC-ligh1: rgba(191, 160, 232, 1);
  --colecci-n-variable-SC-ligh2: rgba(214, 195, 245, 1);
  --colecci-n-variable-SC-dark1: rgba(110, 65, 165, 1);
  --colecci-n-variable-SC-dark2: rgba(74, 44, 115, 1);
  --colecci-n-variable-third-color: rgba(255, 111, 97, 1);
  --colecci-n-variable-TC-light1: rgba(255, 160, 148, 1);
  --colecci-n-variable-TC-light2: rgba(255, 179, 170, 1);
  --colecci-n-variable-TC-dark1: rgba(217, 74, 61, 1);
  --colecci-n-variable-TC-dark2: rgba(168, 50, 38, 1);
  --colecci-n-variable-white: rgba(255, 255, 255, 1);
  --colecci-n-variable-n-light-gray: rgba(245, 245, 245, 1);
  --colecci-n-variable-n-gray: rgba(158, 158, 158, 1);
  --colecci-n-variable-n-dark-gray: rgba(66, 66, 66, 1);
  --colecci-n-variable-black: rgba(0, 0, 0, 1);
  --colecci-n-variable-background-color-dark: rgba(18, 14, 38, 1);
  --colecci-n-variable-background-color-blueish: rgba(29, 23, 64, 1);
}
